<template>
  <div class="sidebar">
    Build sidebar
  </div>

</template>

<script type="text/javascript">
export default {
  name: 'Build',
};
</script>

<style scoped>
  .sidebar {
    font-size: 50px;
    transform: rotate(90deg);
    color: green;
  }
</style>
