<template>
    <div class="collapsible-section">
      <div class="header">
        <ul>
          <li v-if="!open" @click="open = !open">Expand</li>
          <li v-if="open" @click="open = !open">Collapse</li>
        </ul>
      </div>
      <slot v-if="open">
      </slot>
    </div>
</template>
<script>
export default {
  name: 'CollapsibleSection',
  data() {
    return {
      open: true,
    };
  },
};
</script>
<style>
  li {
    list-style-type: none;
  }
</style>
