<template>
  <div>
    <h1>{{ part.title }}</h1>
    <div>
      {{ part.description }}
    </div>
  </div>
</template>
<script>
import GetPartsMixin from './get-parts-mixin';

export default {
  props: {
    partType: { type: String },
    id: {
      type: [Number, String],
      validator(value) {
        return Number.isInteger(Number(value));
      },
    },
  },
  name: 'PartInfo',
  /*  data() {
    // const { partType, id } = this.$route.params;
    const { partType, id } = this;
    return {
      part: {
        // must cast id into an integer as route params are strings
        title: this.parts[partType].find((part) => part.id === +id).title,
        description: this.parts[partType].find((part) => part.id === +id).description,
      },
    };
  }, */
  computed: {
    part() {
      const { partType, id } = this;
      return this.parts[partType].find((part) => part.id === +id);
    },
  },
  mixins: [GetPartsMixin],
};
</script>
<style type="text/css">

</style>
