<template>
  <header>
    <nav>
      <ul>
        <li>
          currentUser: {{ currentUser }}
        </li>
        <li class="nav-item">
          <router-link active-class="foo" class="nav-link" :to="{ name: 'Home'}">
            <img class="logo" src="./assets/build-a-bot-logo.png"/> Home
          </router-link>
        </li>
        <li class="nav-item">
          <router-link active-class="foo" class="nav-link" :to="{ name: 'Build'}">
            Build
          </router-link>
        </li>
        <li class="nav-item cart">
          <router-link class="nav-link" :to="{ name: 'Cart'}">
            Cart
          </router-link>
        </li>
      </ul>
    </nav>
  </header>
  <div class="container">
    <aside class="aside">
      <router-view name="sidebar"/>
    </aside>
    <main>
      <!-- <RobotBuilder/> -->
      <!-- <Search/> -->
      <router-view/>
    </main>
  </div>
</template>

<script>
// import HomePage from './home/HomePage.vue';
import { computed } from 'vue';
// import RobotBuilder from './build/RobotBuilder.vue';
// import Search from './search/Search.vue';

export default {
  name: 'App',
  components: {
    // HomePage,
    // RobotBuilder,
    // Search,
  },
  data() {
    return {
      currentUser: 'Rita',
    };
  },
  provide() {
    return {
      currentUser: this.currentUser,
      timeStamp: computed(() => new Date().toLocaleString()),
    };
  },
};
</script>

<style>
  body {
  background: linear-gradient(to bottom, #555, #999);
  background-attachment: fixed;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}
</style>
<style scoped>
main {
/*  margin:  0 auto;*/
  padding: 30px;
  background-color: white;
/*  width: 1024px;*/
  width: 964px;
  min-height: 300px;
}

header {
  background-color: #999;
/*  width:  1084px;*/
  width:  1184px;
  margin: 0 auto;
}

ul {
  padding:  3px;
  display:  flex;
}
.nav-item {
  display: inline-block;
  padding:  5px 10px;
  font-size: 22px;
  border-right: 1px solid #bbb;
}

.logo {
  vertical-align: middle;
  height:  30px;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

/*.router-link-active {*/
.foo {
  color: white;
}

.container {
  display: flex;
  margin: 10px auto 0 auto;
  justify-content: center;
}

.aside {
  padding: 30px;
  background-color: #aaa;
  width: 100px;
  min-height: 300px;
}

.nav-item.cart {
  position: relative;
  margin-left: auto;
  border-right: none;
}

</style>
